<div class="container register-container">
    <div class="row">
        <div class="col text-center">
            <img src="/assets/images/octochrome.svg" class="register-img" alt="{{'LOGIN.IMG_ALT' | translate}}">
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2 class="mt-1 mb-3 register-title">OctoChrome</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="registerForm" id="register" (ngSubmit)="onSubmit()">
                <input type="text" data-placement="left" title="{{'LOGIN.INPUT_API_HOVER' | translate}}"
                    placeholder="{{'LOGIN.INPUT_API' | translate}}" formControlName="apiKey" required /><br>
                <input type="text" data-placement="left" title="{{'LOGIN.INPUT_URL_HOVER' | translate}}"
                    placeholder="{{'LOGIN.INPUT_URL' | translate}}" formControlName="url" required /><br>
                <button id="btnRegister">{{'LOGIN.BTN_CONNECT' | translate}}</button>
            </form>
        </div>
    </div>
</div>